.nav {
  $blockName: &;
  text-transform: uppercase;
  color: white;

  &__list {
    display: none;

    @media (max-width: 768px) {
      font-size: 14px;
      letter-spacing: 1px;
    }

    @media (min-width: 765px) {
      display: flex;
      justify-content: space-between;
      margin: 85px auto 0;
    }
  }

  &__item {
    display: inline-block;
    left: 0;
    right: 0;
    padding: 0;
    max-width: 1020px;

    &_active {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    display: inline-block;
    color: white;
    transition: color 0.5s;
    padding: 8px 24px;

    &:hover {
      color: #9fadc2;
    }

    @media (max-width: 990px) {
      padding: 8px 12px;
    }

    @media (max-width: 690px) {
      padding: 8px 3px;
    }
  }
}
